*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body,html{
    height: 100%;
    width:100%;
}
img{
    height: 40px;
    width: 120px;
    border-radius:4px;
}
.logo{
    padding-right: 20px;
    padding-left: 100px;
    margin: 10px;

}
.navbar{
    background-color: rgb(0, 157, 255);
    
    font-weight: 400;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content:start;
    margin-left: 50px; 
}
li{
    list-style-type: none;
    display:inline-block;
}
li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 25px;
    opacity: 0.7;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li a:hover{
    color: white;
    font-size: 18.2px;
    opacity: 1;
}
.main {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewcontainer {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#header h1 {
    color: #5d5c61;
    font-size: 24px;
    margin: 0;
}

#header button {
    background: linear-gradient(140.14deg, #0e9aec 15.05%, #1f6ed6 114.99%)padding-box,linear-gradient(142.51deg, #0e9aec 8.65%, #1f6ed6 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #00165a59;
    padding: 10px 20px;
    line-height: 15px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 14px;
}

#header button:hover {
    box-shadow: none;
    opacity: 80%;
}

#header button:active{
    opacity: 70%;
}

#summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#summary p {
    font-family: 'Franklin Gothic Medium';
    /* height:20px;
    width:250px; */
    text-shadow: 1px 1px 1px #00000040;
    background: linear-gradient(140.14deg, #0eec67 15.05%, #2ed61f 114.99%) padding-box,linear-gradient(142.51deg,  #0eec67 8.65%,  #2ed61f 88.82%) border-box;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    border: 2px solid transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: #0091ff;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
tbody tr td:last-child button {
    background: linear-gradient(140.14deg, #ec0e0e 15.05%, #d6371fd2 114.99%)padding-box,linear-gradient(142.51deg, #ff6565 8.65%, #af0505 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
    text-shadow: 1px 1px 1px #00000040;
    padding: 8px 14px;
    line-height: 15px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}
tbody tr td:last-child button:hover{
    opacity: 0.7;
    box-shadow:none ;
}
tbody tr td:last-child button:active{
    opacity: 0.7;
}

#footer {
    margin-top: 20px;
    text-align: right;
}

#footerbtn {
    background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%) padding-box,linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
    padding: 10px 20px;
    line-height: 15px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 14px;
   
}

#footerbtn:hover {
   box-shadow: none;
  opacity: 80%;
}
#footerbtn:active{
    opacity: 0.7;
}
#downloadPdf {
    background: linear-gradient(140.14deg, #0e9aec 15.05%, #1f6ed6 114.99%)padding-box,linear-gradient(142.51deg, #0e9aec 8.65%, #1f6ed6 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #00165a59;
    padding: 10px 20px;
    line-height: 15px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 14px;
}
#downloadPdf:hover {
    box-shadow: none;
   opacity: 80%;
 }
#downloadPdf:active{
     opacity: 0.7;
 }
#btns{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom: 20px;
}